<?xml version="1.0"?>
<!--
  This file serves as a template when SetupLocalDev.ps1 generates LocalDev.ConnectionStrings.config.
  #Placeholders# will be replaced with proper values by SetupLocalDev.ps1.

  The connection string below has a hard coded user called 'localdev'. It's recommended to set up
  this login in your local SQL Server instance. If you would instead change the login in this file,
  make sure to not commit your change.

  Feel free to add custom connectionstrings below.
-->
<connectionStrings>
  <add name="FoundationConnectionString" connectionString="Server=#Server#;Database=#Database#;User Id=localdev; Password=localdev;" providerName="System.Data.SqlClient" />
</connectionStrings>
